.page {
    padding-top: 60px;
    padding-bottom: 23vh;
    border: 2px solid #e4f4f4;
    border-radius: 5px;
    background-color: #e4f4f44f;
}

.component-container {
    max-width: 100%;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff00;
    box-shadow: none;
}

.release-menu {
    margin-top: 40px;
}

.release-navbar {
    display: flex;
    justify-content: center;
}

/* Container for the entire MultiForm component */
.multi-form-container {
    width: 60vw;
    max-width: 70vw;
    /* Adjust the maximum width as needed */
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Container for each form type */
.form-type-container {
    margin-top: 20px;
}

/* Individual form entry */
.form-entry {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    position: relative;
    /* For positioning the delete button */
}

/* Delete button for extra forms */
.delete-button {
    position: absolute;
    top: 15px;
    right: 10px;
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 10%;
    cursor: pointer;
    font-size: 14px;
}

.collapse-button {
    position: absolute;
    top: 15px;
    right: 40px;

}

.delete-button:hover {
    background-color: #ff4646;
}

/* Form title (e.g., "Form 1", "Form 2") */
.form-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.field-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    /* Space children evenly */
    align-items: center;
    /* Center children vertically */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

.field-label-container {
    flex: 1;
    /* Distribute available space evenly among children */
    padding: 10px;
}

.field-label {
    font-weight: 640;
}

.required-container {
    display: flex;
    margin-right: 20px;
}

.required {
    color: red;
    font-weight: bold;
    font-size: 25px;
}

.field-input-container {
    flex: 0 0 auto;
    /* Disable flex grow and shrink, make it a fixed width */
    width: 70%;
    /* Set the fixed width */
}

input[type="text"],
input[type="number"],
input[type="file"],
input[type="password"],
input[type="email"] {
    width: 98%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 3px;
    transition-duration: 300ms all;
}

input[type="checkbox"] {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

select {
    cursor: pointer;
    width: 100%;
    height: 44px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Apply a red border to invalid input fields */
.form-field.invalid input[type="text"],
.form-field.invalid input[type="number"],
.form-field.invalid input[type="email"],
.form-field.invalid input[type="tel"] {
    border-color: #ff6b6b;
    /* You can customize the border styles further, such as border-width, border-style, etc. */
}

button {
    font-size: 20px;
    border-radius: 10px;
}

/* Add button for new forms */
.add-button {
    background-color: #119e68;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 20px;
}

.add-button:hover {
    background-color: #5aa689;
}

/* Submit button */
.submit-button {
    background-color: #406dea;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0px;
}

.submit-button:hover {
    background-color: #6f8cda;
}

/* Apply a blinking effect to invalid input fields */
.invalid-blink {
    animation: invalid-blink-animation 0.5s ease infinite;
}

@keyframes invalid-blink-animation {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0.2;
        border-color: rgb(0, 0, 0);
    }

    75% {}

    100% {
        opacity: 1;
        border-color: #ff0000;
        background-color: white;
    }
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 4px;
}

.multi-form-title {
    font-weight: bold;
    margin-bottom: 10px;
}



.navbar {
    background-color: #333;
    color: #c0c0c0;
    transition: all 0.3s ease;
}

.navbar.dark {
    background-color: rgba(255, 255, 255, 0);
    color: black
}

.navbar-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

.navbar-item {
    margin-right: 20px;
    margin-left: 20px;
}

.navbar-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.navbar:hover {
    color: #fff;
    text-shadow: 0 0 10px #a7f3ed;
}

.navbar *.active {
    color: rgb(16, 222, 237);
    text-shadow: 0 0 10px rgb(16, 222, 237);
}

.navbar.dark:hover {
    color: #004a45;
    text-shadow: 0 0 10px #3a7a74;
}

.navbar.dark *.active {
    color: rgb(0, 0, 0);
    text-shadow: 0 0 10px rgb(0, 238, 255);
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    height: 60px;
    z-index: 1000;
    /* Ensures it's above other content */
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
}

.header-left {

}

.header-center {
    flex-grow: 1;
    /* Takes up remaining space in the center */
    display: flex;
    justify-content: center;
    /* Center the contents horizontally */
}

.header-right {
    /* Add spacing between center and right sections */
    margin-right: 40px;
}

.table-container {
    max-width: 100%;
    margin: 0 auto;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.select-control-container {
    max-width: 100%;
    margin: 0 auto;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table {
    width: 100%;
}

.column-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sorting-controls {
    width: 42px;
    height: 42px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    margin: 0 auto;
}

.filter-input {
    margin-bottom: 0px;
}

.select-input {
    /*checkbox*/
}

table,
th,
td {
    border: #ccc solid 1px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 20px -7px rgba(34, 60, 80, 0.2);
}

tr.selected {
    background-color: #e4f4f4;
}

tr.data-row:hover {
    background-color: #ebf4e46e;
}

.modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: #e4f4f44f;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContainer {
    width: 80%;
    height: 80%;
    border-radius: 12px;
    background-color: white;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.modalContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.titleCloseBtn {
    display: flex;
    justify-content: flex-end;
}

.titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.modalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
}

.modalContainer .footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#updateBtn {
    font-size: 20px;
    padding: 10px 20px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0px;
    background-color: #119e68;
    color: #fff;
}

.entryTable {
    width: 80%px;
    height: 80%px;
}

.list-row {
    width: 20%;
    font-size: 15px;
}

button.logout {
    background-color: rgba(255, 255, 255, 0);
}

* {
    text-decoration: none;
    transition: all 0.2s ease;
    font-family: sans-serif;
}

.navbar:hover {
    color: #fff;
    text-shadow: 0 0 10px #a7f3ed;
}

.navbar *.active {
    color: rgb(16, 222, 237);
    text-shadow: 0 0 10px rgb(16, 222, 237);
}

.navbar.dark:hover {
    color: #004a45;
    text-shadow: 0 0 10px #3a7a74;
}

.navbar.dark *.active {
    color: rgb(0, 0, 0);
    text-shadow: 0 0 10px rgb(0, 238, 255);
}

.navbar-text {
    color: white;
}