@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

* {
  font-family: Montserrat;
  transition: all 0.3s;
}

body {
  margin: 0;
  padding: 0;
  background: #3B4088;
}

body.admin {
  color: black
}

input:focus {
  outline: none;
}

html,
body {
  user-select: none;
}

header {
  display: flex;
  position: absolute;
  width: calc(100vw - 10.3vw);
  top: 0;
  left: 0;
  height: 13.48vh;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding-left: 5.15vw;
  padding-right: 5.15vw;
}

#header-left {
  display: flex;
  gap: 2vw;
}

#header-right {
  display: flex;
}

.page {
  margin: 0%;
  padding: 0%;
  padding-bottom: 6vh;
  margin-top: 13.48vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a.link {
  text-decoration: none;
  color: #ffffff50;
  font-family: Montserrat;
  font-size: 2vh;
  font-style: normal;
  font-weight: 700;
  line-height: 10px;
}

a.link:visited {
  color: #fff;
  text-decoration: none;
}

a.link.active {
  color: #ffffff;
}

a.admin:visited {
  color: #8b8b8b;
}

a.admin {
  color: #8b8b8b;
}

a.admin.active {
  color: #000000;
}



#user-name-container {
  height: 5.6vh;
  width: 18.5vw;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.24);
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-name {
  font-family: Montserrat;
  font-size: 2vh;
  font-style: normal;
  font-weight: 700;
  line-height: 10px;
}

.logout {
  height: 5.6vh;
  background: none;
  border: none;
  padding: none;
  padding-left: 20px;
  color: #ffffff50;
  font-family: Montserrat;
  font-size: 2vh;
  font-style: normal;
  font-weight: 700;
  line-height: 10px;
  cursor: pointer;
}

.admin {
  color: black;
}

.modal {
  position: fixed;
  border-radius: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 15;
}

.overlay {
  position: fixed;
  z-index: 16;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

select {
  padding: 6px;
  background-color: rgba(255, 255, 255, 0.24);
  border-radius: 10px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
}

select:hover {
  background-color: rgba(255, 255, 255, 0.414);
}

select option {
  background: #3B4088;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  padding: 6px;
}

select option[selected] {
  background: #4a4f8d;
}


* {
  box-sizing: content-box;
}

.custom-select {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: calc(100% - 2px);
  justify-content: space-between;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 30px;
  cursor: pointer;
  user-select: none;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 10px;
  background-color: #ffffff26
}

.custom-select:hover {
  background-color: #ffffff98;
}

.custom-select.disabled:hover {
  background-color: #ffffff26;
  cursor: default;
}

.select-header {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20%;
  padding-right: 10%;
}

.selected-value {
  padding-left: 2vw;
  flex: 1;
  white-space: nowrap;
}

.dropdown-icon {
  font-size: 20px;
}

.dropdown-icon.open {
  transform: rotate(180deg);
}

.options {
  position: absolute;
  padding-top: 5%;
  padding-bottom: 5%;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: #585c9a;
  border-radius: 0 0 4px 4px;
  z-index: 1;
  transition: opacity 0.3s, visibility 0.3s;
}

.options.round {
  left: 9%;
  width: 82%;
}

.custom-select.open {
  opacity: 1;
  visibility: visible;
}

.option {
  padding: 10px;
  transition: background-color 0.3s;
  cursor: pointer;
  padding-left: 7%;
}

.option:hover {
  background-color: #ffffff48;
}

.option.selected {
  background-color: #b9b9b9;
}

/* Style the scrollbar (you can adjust this as needed) */
.options::-webkit-scrollbar {
  width: 12px;
}

.options::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

.options::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.options::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.options::-webkit-scrollbar-track:hover {
  background-color: #d4d4d4;
}

input[type='date'] {
  padding-right: 70%;
}

.TooltipContent {
  transform-origin: var(--radix-tooltip-content-transform-origin);
  animation: scaleIn 0.5s ease-out;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

label.genre {
  padding-left: 0.25vw;
}

select.input {
  background-color: #00000000;
}